/* Calculate our content width percentage
Our figma file width is = 1920px
left space 240px and right also 240px
Subtract space from total width 
1920 - (240+240) = 1440px
(1440 / 1920)= 0.75%
Our content width is = 75% */

/* font family from google font  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
/* Universal Styles */
:root {
  --primary_orange: #ff900e;
  --primary_dark: #131313;
  --secondary_dark: #727272;
  --hash_dark: #424242;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  max-width: 1920px;
}
/* Style all Anchor tag */
a {
  text-decoration: none;
  color: var(--primary_dark);
}
/* Container Class Styles */
.container {
  width: 75%;
  margin: 0 auto;
}
.title {
  color: var(--primary_dark);
  font-size: 2.063rem;
  font-weight: 700;
  padding: 1.125rem 0;
}
.para {
  color: var(--secondary_dark);
  font-size: 1rem;
  line-height: 1.25rem;
}
.btn {
  color: #fff;
  padding: 0.938rem 1.125rem;
  border-radius: 8px;
  background: var(--primary_orange);
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
}
/* Header Nav related Styles */
header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > nav > ul {
  display: flex;
}
header > nav > ul > li {
  list-style: none;
  font-size: 0.875rem;
  color: var(--hash_dark);
  padding: 0 1.5rem;
  font-weight: 500;
  line-height: 1.25rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
header > nav > ul > li:hover {
  color: var(--primary_orange);
}
