/* Calculate our content width percentage
Our figma file width is = 1920px
left space 240px and right also 240px
Subtract space from total width 
1920 - (240+240) = 1440px
(1440 / 1920)= 0.75%
Our content width is = 75% */

/* font family from google font  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
/* Universal Styles */
:root {
  --primary_orange: #ff900e;
  --primary_dark: #131313;
  --secondary_dark: #727272;
  --hash_dark: #424242;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  max-width: 1920px;
  margin: auto;
}
/* Style all Anchor tag */
a {
  text-decoration: none;
  color: #fff;
}

/* Container Class Styles */
header {
  background: #ff900e1a;
}
footer {
  height: 100vh;
}

.container {
  width: 75%;
  margin: 0 auto;
}
.title {
  color: var(--primary_dark);
  font-size: 2.063rem;
  font-weight: 700;
  padding: 1.125rem 0;
}
.para {
  color: var(--secondary_dark);
  font-size: 1rem;
  line-height: 1.25rem;
}
.btn {
  color: #fff;
  padding: 0.938rem 1.125rem;
  border-radius: 8px;
  background: var(--primary_orange);
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ===============> Header related Styles Start <=================*/
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav > ul {
  display: flex;
}
header nav > ul > li {
  list-style: none;
  font-size: 0.875rem;
  color: var(--hash_dark);
  padding: 0 1.5rem;
  font-weight: 500;
  line-height: 1.25rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
header nav > ul > li:hover {
  color: var(--primary_orange);
}
/* Header banner related styles */
.banner_parent {
  display: flex;
  flex-direction: column;
  padding: 2.109rem;
  gap: 2.344rem;
}
.banner_content_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner_content_box h1 {
  font-size: 2.25rem;
}
.banner_content_box p {
  text-align: center;
}
.banner_content_box button {
  margin-top: 1.5rem;
}
/* Header img box realated styles  */
.banner_img_box img {
  border-radius: 8px;
}
/* (((((((Header Section Responsive Styles))))))) */
/* responsive for small devices */
@media screen and (max-width: 576px) {
  header nav {
    flex-direction: column-reverse;
    padding: auto;
    padding-top: 1.5rem;
  }
  header nav > ul > li {
    padding: 0.9rem;
  }
  .banner_parent {
    padding: rem;
    gap: 2rem;
  }
  .banner_content_box h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .title {
    font-size: 1.4rem;
  }
  .btn {
    padding: 0.838rem 1rem;
    border-radius: 8px;
    background: var(--primary_orange);
    font-size: 1rem;
  }
  .container {
    width: 100%;
  }
}
/* Responsive for Mid devices */
@media screen and (max-width: 992px) {
  header nav {
    flex-direction: column-reverse;
    padding: auto;
    padding-top: 1rem;
  }
  header nav > ul > li {
    padding: 0 0.7rem;
  }
  .banner_parent {
    padding: rem;
    gap: 1.5rem;
  }
  .banner_content_box h1 {
    font-size: 2rem;
    text-align: center;
  }
  .title {
    font-size: 1.7rem;
  }
  .btn {
    padding: 0.938rem 1.129rem;
    border-radius: 8px;
    background: var(--primary_orange);
    font-size: 0.9rem;
  }
  .container {
    width: 90%;
  }
}
/* ===============> Header related Styles End <=================*/
.features_parent {
  display: flex;
  gap: 3.422rem;
  align-items: center;
  justify-content: center;
  padding: 6.094rem 0;
}
.features_parent div {
  flex: 1;
}
.features_img_box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.125rem;
  overflow: hidden;
}
.features_content_box p {
  padding: 1.2rem 0;
}
